<launch>

    <node pkg="imu_utils" type="imu_an" name="imu_an" output="screen">
        <param name="imu_topic" type="string" value= "/fdi_imu"/>
        <param name="imu_name" type="string" value= "fdi_imu"/>
        <param name="data_save_path" type="string" value= "/home/ls/camera_imu_calibra/fdi_imu_sequence_2/imu_ultis_results/"/>
        <param name="max_time_min" type="int" value= "240"/>
        <param name="max_cluster" type="int" value= "100"/>
    </node>

</launch>
